@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;600;700&family=Lora:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&display=swap');


body {
  font-family: 'Lora', serif;
}

#root {
  max-width: 1440px;
  margin: 0 auto;
  padding: 1rem;
  font-family: 'Lora', serif;
  color: #D6C5A2;
  background-color: #0E1B12;
}

input,
textarea,
select {
  font-family: 'Lora', serif;
  color: #D6C5A2;
  background-color: #223120;
  border: 1px solid #C2A774;
  border-radius: 0.5rem;
}

a {
  color: #D6C5A2;
}

a:hover {
  color: #f0eac4;
}